* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(210, 210, 210);
    margin: 20px;
}

.nav-box {
    width: 90%;
    height: 20vh;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 3px 5px 2px rgb(104, 104, 104);

}

.title {
    text-align: center;
    margin: 10px;
    font-weight: bold;
    font-style: inherit;

}

.cont-div {
    padding: 10px;
}

.cont-div #std1 {
    color: rgb(3, 132, 3);
    background-color: rgb(92, 248, 92);
    padding: 10px;
    border-radius: 10px;
}

.cont-div #std2 {
    color: rgb(103, 5, 5);
    background-color: rgb(228, 112, 112);
    padding: 10px;
    border-radius: 10px;
}

.ctr {
    padding: 10px;
    margin: auto;
    width: 80%;

}

.content-box-style {
    width: 30%;
    border-radius: 10px;
    border-top: solid 5px blue;
    background-color: white;
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 3px 5px 2px rgb(104, 104, 104);
}


.rite{
    text-align: center;
    color: lime;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
}
.audience{
    border-radius: 10px;
    padding: 5px;
}
.srl{
    border-radius: 10px;
    padding: 5px;
    width: 65%;
}